.btn-validate {
    background-color: #334e30;
    color: white;
  }
  
  .btn-cancel {
    background-color: #381010;
    color: white
  }
  
  .btn-flat {
    background-color: purple;
    color: white;
  }
  
  .btn-xxl {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
  }